@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
/* line 18, ../sass/note_style.scss */
* {
  list-style: none;
}

@keyframes move {
  0% {
    top: 0;
  }
  25% {
    top: -2px;
  }
  50% {
    top: 0;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 0;
  }
}
/* line 28, ../sass/note_style.scss */
html, body {
  width: 100%;
  height: 100%;
  font-family: 'Noto Sans TC','Josefin Sans', sans-serif;
}
/* line 31, ../sass/note_style.scss */
html #wrap, body #wrap {
  position: relative;
  width: 100%;
  height: 100%;
}
/* line 34, ../sass/note_style.scss */
html #wrap .three_btns, body #wrap .three_btns {
  z-index: 999;
  text-align: center;
  position: fixed;
  top: calc(50% - 30px);
  right: 0;
}
/* line 40, ../sass/note_style.scss */
html #wrap .three_btns .previous_btn, body #wrap .three_btns .previous_btn {
  background-color: #555;
  border-radius: 14px 14px 0 0;
  color: #ddd;
  cursor: pointer;
  overflow: hidden;
}
/* line 47, ../sass/note_style.scss */
html #wrap .three_btns .previous_btn i, body #wrap .three_btns .previous_btn i {
  position: relative;
}
/* line 50, ../sass/note_style.scss */
html #wrap .three_btns .previous_btn i.move, html #wrap .three_btns .next_btn i.move, body #wrap .three_btns .previous_btn i.move, body #wrap .three_btns .next_btn i.move {
  animation: move .5s infinite;
}
/* line 53, ../sass/note_style.scss */
html #wrap .three_btns .top_btn, body #wrap .three_btns .top_btn {
  cursor: pointer;
  background-color: #fff;
}
/* line 57, ../sass/note_style.scss */
html #wrap .three_btns .next_btn, body #wrap .three_btns .next_btn {
  transform: rotate(180deg);
  background-color: #555;
  border-radius: 14px 14px 0 0;
  color: #ddd;
  cursor: pointer;
  overflow: hidden;
}
/* line 65, ../sass/note_style.scss */
html #wrap .three_btns .next_btn i, body #wrap .three_btns .next_btn i {
  position: relative;
}
/* line 70, ../sass/note_style.scss */
html #wrap header .navbar-brand, body #wrap header .navbar-brand {
  padding: 0;
}
/* line 75, ../sass/note_style.scss */
html #wrap #main h2, body #wrap #main h2 {
  color: #ddd;
}
/* line 78, ../sass/note_style.scss */
html #wrap #main h3, body #wrap #main h3 {
  color: #005CAF;
  padding: 10px 0px;
  border-bottom: 1px solid #888;
}
/* line 83, ../sass/note_style.scss */
html #wrap #main h6, body #wrap #main h6 {
  color: #ddd;
}
/* line 86, ../sass/note_style.scss */
html #wrap #main p, body #wrap #main p {
  padding: 5px 0px;
  line-height: 35px;
}
/* line 90, ../sass/note_style.scss */
html #wrap #main span, body #wrap #main span {
  border-radius: 5px;
  padding: 5px 5px;
  background-color: #555;
  color: #ddd;
}
/* line 96, ../sass/note_style.scss */
html #wrap #main .note_border, body #wrap #main .note_border {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #555;
  padding-bottom: 15px;
  background-image: linear-gradient(to bottom, #3c3c3c 0, #222 96px, #222 100%);
}
/* line 104, ../sass/note_style.scss */
html #wrap #main .note_content, body #wrap #main .note_content {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: inset 1px 1px 5px 1px #555;
}
/* line 110, ../sass/note_style.scss */
html #wrap footer, body #wrap footer {
  background-image: linear-gradient(to bottom, #3c3c3c 0, #222 100%);
  padding-top: 40px;
  color: #ddd;
  display: block;
  height: 100px;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  /* line 121, ../sass/note_style.scss */
  .three_btns {
    display: none;
  }

  /* line 124, ../sass/note_style.scss */
  #main {
    margin-top: 50px;
  }

  /* line 127, ../sass/note_style.scss */
  header {
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 999;
  }
}
